.wrapper{
    padding: 2%;
    padding-top: 0;
    padding-bottom: 3%;
}

.item{
    display: flex
}

.firstTitle{
    text-transform: uppercase;
    font-weight: bold
}

.titles{
    display: inline-block;
    margin-left: 5px;
}
.circle{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-top: 3px;
}

.description{
    color: rgba(255, 255, 255, 0.7);
    text-transform: none;
}