
.App-wrapper {
  background-color:  #008CFD;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
   
}

.App{
  position: absolute;
  top: 8%;
  bottom: 8%;
  right: 8%;
  left: 8%;
  background:linear-gradient(108.48deg, #27B1FE 0%, #005FF9 100%);
  padding: 3%;
  border-radius: 10px;
  overflow: hidden;
  font-family: "Pt_Root_Ui";
}


.App-content{
  color: #fff;
  
}

/* sidebar */
.sidebar{
  position: absolute;
  top: 0%;
  left: 5%;
  right: 12%;
  bottom: 2%;
  /* outline: 2px solid red; */
}

.logo{
  position: fixed;
  display: flex;
  align-items: center;
  text-align: center;
  width: 16.5%;
  justify-content: center;
  transform: translateY(-20%);
  z-index: 9999999999;
  /* outline: 2px solid yellow; */
}

.logo img{
  width: 30%;
  height: 30%;
}

.logo span{
  padding-left: 10px;
  font-size: 300%;
  color: #fff;
  font-weight: bold;
  transform: translateY(-2%);
}

.sidebar nav{
  margin-top: 50%;
  font-size: 18px;
}

.sidebar nav ul {
  list-style: none;
  padding: 0;
}

.sidebar nav ul li{
  margin-bottom: 8%;
}


.sidebar nav ul li a{
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  position: relative;
  
}

.sidebar nav ul li a:hover{  
  color: rgba(255, 255, 255, 1);
}


.sidebar nav ul li svg {
  position: absolute;
  top: 1px;
}

.sidebar nav span {
  margin-left: 12%;
}







/* common */


.titleSmall{
  font-size: 12px;
  
}
